<template name="createCase">
    <form class="main">
        <label class="control-label" for="name">case</label>
        <div class="control-group">
            <label class="control-label" for="name">name</label>
            <div class="controls">
                <input name="name" type="text" value="" placeholder="name"/>
            </div>
            <label class="control-label" for="name">phone</label>
            <div class="controls">
                <input name="phone" type="number" value="" placeholder="phone"/>
            </div>
            <label class="control-label" for="name">email</label>
            <div class="controls">
                <input name="email" type="email" value="" placeholder="email"/>
            </div>
            <label class="control-label" for="name">message</label>
            <div class="controls">
                <input name="message" type="text" value="" placeholder="message"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <input type="submit" value="ok" class="btn btn-primary"/>
            </div>
        </div>
  </form>
</template>