<template name="demo">
        <h5>Customer Name</h5>
        <table class="table">
            <tr>
                <td>
                    <table class="table table-bordered">
                        <tr><td>Product Name</td></tr>
                        <tr><td>S/N: 1234567890</td></tr>
                        <tr><td>Model No: abcdefg</td></tr>
                        <tr><td>Warranty Expiry Date: 12/15/2016</td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <form class="form-horizontal" role="form">
            <span class="glyphicon glyphicon-user"></span><input>
            <br/>
            <span class="glyphicon glyphicon-earphone"></span><input>
            <br/>
            <span class="glyphicon glyphicon-envelope"></span><input>
            <br/>
            <span class="glyphicon glyphicon-pencil"></span><input>
            <br/>
            <input type="submit" value="Submit"/>
        </form>
</template>