<template name="readCase">
    <form class="main">
        <label class="control-label" for="name">case</label>
        <div class="control-group">
            <label class="control-label" for="name">number</label>
            <div class="controls">
                {{number}}
            </div>
            <label class="control-label" for="name">name</label>
            <div class="controls">
                {{name}}
            </div>
            <label class="control-label" for="name">phone</label>
            <div class="controls">
                {{phone}}
            </div>
            <label class="control-label" for="name">email</label>
            <div class="controls">
                {{email}}
            </div>
            <label class="control-label" for="name">message</label>
            <div class="controls">
                {{message}}
            </div>
        </div>
    </form>
</template>