<template name="createQrCode">
    <form class="main">
        <label class="control-label" for="name">qr code</label>
        <div class="control-group">
            <label class="control-label" for="name">product name</label>
            <div class="controls">
                <input name="productName" type="text" value="" placeholder="product name"/>
            </div>
            <label class="control-label" for="name">serial number</label>
            <div class="controls">
                <input name="serialNumber" type="text" value="" placeholder="product serial number"/>
            </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="ok" class="btn btn-primary"/>
         </div>
    </div>
  </form>
</template>