<template name="createQrCode">

    <form class="main">

        <label class="control-label" for="name">qr code</label>

        <div class="control-group">
<!--
            <label class="control-label" for="name">text</label>
            <div class="controls">
                <input name="text" type="text" value="" placeholder="qr code text"/>
            </div>
-->
            <label class="control-label" for="name">machine name</label>
            <div class="controls">
                <input name="machineName" type="text" value="" placeholder="qr code machine name"/>
            </div>
            <label class="control-label" for="name">serial number</label>
            <div class="controls">
                <input name="serialNumber" type="text" value="" placeholder="qr code serial number"/>
            </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input type="submit" value="ok" class="btn btn-primary"/>
         </div>
    </div>

  </form>

</template>