<template name="createProduct">
    <form class="main">
        <label class="control-label" for="name">product</label>
        <div class="control-group">
            <div class="form-group">
                <label for="id">name</label>
                <select class="form-control" id="id" name="id">
                    <option value="1">5500 Panasonic Display</option>
                    <option value="2">5512D Panasonic</option>
                    <option value="4">Motorola 4424LD+ Phone</option>
                    <option value="5">Motorola 4450 DSS Console</option>
                    <option value="3">Panasonic KX-TG4500</option>
                </select>
            </div>
            <div class="form-group">
                <label for="companyId">company name</label>
                <select class="form-control" id="companyId" name="companyId">
                    <option value="1">Company 1</option>
                    <option value="2">Company 2</option>
                    <option value="3">Company 3</option>
                    <option value="4">Company 4</option>
                    <option value="5">Company 5</option>
                </select>
            </div>
            <label class="control-label" for="name">serial number</label>
            <div class="controls">
                <input name="serialNumber" type="text" value="" placeholder="serial number"/>
            </div>
            <label class="control-label" for="name">model number</label>
            <div class="controls">
                <input name="modelNumber" type="text" value="" placeholder="model number"/>
            </div>
            <label class="control-label" for="name">warranty expiry date</label>
            <div class="controls">
                <!--
                <input name="warrantyExpiryDate" type="date"/>
                -->
                <input type="text" id="warrantyExpiryDate" name="warrantyExpiryDate" value={{warrantyExpiryDate}}>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
            <input type="submit" value="ok" class="btn btn-primary"/>
            </div>
        </div>
  </form>
</template>