<template name="createProduct">
    <form class="main">
        <label class="control-label" for="name">product</label>
        <div class="control-group">
            <label class="control-label" for="name">name</label>
            <div class="controls">
                <input name="name" type="text" value="" placeholder="name"/>
            </div>
            <label class="control-label" for="name">serial number</label>
            <div class="controls">
                <input name="serialNumber" type="text" value="" placeholder="serial number"/>
            </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" value="ok" class="btn btn-primary"/>
         </div>
    </div>
  </form>
</template>