<template name="readProduct">
<!--
    <form class="main">
        <label class="control-label" for="name">product</label>
        <div id="qrcode"></div>
        <button type="button" class="export btn" id="export">export</button>
        <input id="url" type="hidden" value="{{url}}"/>
        <div class="control-group">

            <div class="form-group">
                <label for="id">name</label>
                <select class="form-control" id="id" disabled>
                    <option value="1" selected={{selectedProduct "1"}}>5500 Panasonic Display</option>
                    <option value="2" selected={{selectedProduct "2"}}>5512D Panasonic</option>
                    <option value="4" selected={{selectedProduct "4"}}>Motorola 4424LD+ Phone</option>
                    <option value="5" selected={{selectedProduct "5"}}>Motorola 4450 DSS Console</option>
                    <option value="3" selected={{selectedProduct "3"}}>Panasonic KX-TG4500</option>
                </select>
            </div>
            <div class="form-group">
                <label for="customerId">customer name</label>
                <select class="form-control" id="customerId" disabled>
                    <option value="1" selected={{selectedCustomer "1"}}>Customer 1</option>
                    <option value="2" selected={{selectedCustomer "2"}}>Customer 2</option>
                    <option value="3" selected={{selectedCustomer "3"}}>Customer 3</option>
                    <option value="4" selected={{selectedCustomer "4"}}>Customer 4</option>
                    <option value="5" selected={{selectedCustomer "5"}}>Customer 5</option>
                </select>
            </div>

            <label class="control-label" for="name">name</label>
            <div class="controls">
                {{name}}
            </div>
            <label class="control-label" for="name">customer name</label>
            <div class="controls">
                {{customerName}}
            </div>
            <label class="control-label" for="name">serial number</label>
            <div class="controls">
                {{serialNumber}}
            </div>
            <input id="serialNumber" type="hidden" value="{{serialNumber}}"/>
            <label class="control-label" for="name">model number</label>
            <div class="controls">
                {{modelNumber}}
            </div>
            <label class="control-label" for="name">warranty expiry date</label>
            <div class="controls">
                {{warrantyExpiryDate}}
            </div>
        </div>
    </form>
    <script type="text/javascript">
        new QRCode(document.getElementById("qrcode"), document.getElementById('url').value);
        function getSerialNumber() {
            return document.getElementById('serialNumber').value;
        }
    </script>
-->

    <div class="container">




        <div class="page-header">
            <h2>LODGE YOUR CASE</h2>
        </div>


        <div class="jumbotron">
            <h5>{{customerName}}</h5>

            <table class="table">
                <tr>
                    <td>
                        <table class="table table-bordered">
                            <tr><td>{{name}}</td></tr>
                            <tr><td>S/N: {{serialNumber}}</td></tr>
                            <tr><td>Model No: {{modelNumber}}</td></tr>
                            <tr><td>Warranty Expiry Date: {{warrantyExpiryDate}}</td></tr>
                        </table>
                    </td>
                    <td width="20%" valign="middle" align="center"> <img src="http://screenshots.en.sftcdn.net/en/scrn/84000/84357/wolverine-wallpaper-4.jpg" class="img-thumbnail" alt="Product Image"> </td>
                </tr>
            </table>

        </div>





    </div>




    {{> createCase}}

</template>